 /* --------- NO NOTIFICATIONS CODE STYLING ---------  */

.notifi{
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0rem;
}
.notifiwrapper{
    display: flex;flex-direction: column;
    text-align: center;
    padding: 10rem 0rem;
}
.notifiwrapper i{
    font-size: 10rem;
}
.notifiwrapper h1{
    font-size: 3rem;
}

@media (max-width: 850px) {
    .notifiwrapper{
        padding: 8rem 0rem;
    }
    .notifiwrapper i{
        font-size: 7rem;
    }
    .notifiwrapper h1{
        font-size: 2rem;
    }
}
@media (max-width: 500px) {
    .notifiwrapper{
        padding: 8rem 0rem;
    }
    .notifiwrapper i{
        font-size: 6rem;
    }
    .notifiwrapper h1{
        font-size: 1.8rem;
    }
}


 /* --------- NOTIFICATIONS CODE STYLING ---------  */

.nwrapper{
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0rem;
}
.notificontainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    width: 70%;
    /* background-color: cadetblue; */
}
.notificontainer h1{
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 20px 0px;
}
.notificontainer h1 i{
    padding-right: 20px;
}
.notification{
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding: 2rem 2rem;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    /* background-color: burlywood; */
}
.notification .date, .name, .content, .regards, .by, .company{

    padding: 3px 0px;
    font-size: 20px;
}
.notification .date{
    color: rgba(0, 0, 0, 0.564);
}
.notification .name{
    color: rgba(0, 0, 0, 0.838);
    font-weight: bold ;
}



@media (max-width: 800px) {

    .notificontainer{
        width: 90%;
    }
    .notificontainer h1{
        font-size: 1.8rem;
    }
    .notification .date, .name, .content{
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .notificontainer h1{
        font-size: 1.6rem;
    }
    .notification .date, .name, .content{
        font-size: 16px;
    }
    .notification{
    padding: 1rem 2rem;
    }
    .notificontainer{
        width: 90%;
    }
}


.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
.dotspinner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    --uib-speed: 0.9s;
    height: 2.8rem;
    width: 2.8rem;
  }
  
  @keyframes float {
    0% {
      transform: rotate(0deg) translate(100px) rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg) translate(100px) rotate(-360deg);
    }
  }
  
  .dotspinnerdot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: #05070f;
    filter: drop-shadow(0 0 10px #4636fc1e);
    box-shadow: -6px -6px 11px #05070f,
               6px 6px 11px #05070f;
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
  }
  
  .dotspinnerdot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  
  .dotspinnerdot:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .dotspinnerdot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dotspinnerdot:nth-child(3) {
    transform: rotate(90deg);
  }
  
  .dotspinnerdot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dotspinnerdot:nth-child(4) {
    transform: rotate(135deg);
  }
  
  .dotspinnerdot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dotspinnerdot:nth-child(5) {
    transform: rotate(180deg);
  }
  
  .dotspinnerdot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dotspinnerdot:nth-child(6) {
    transform: rotate(225deg);
  }
  
  .dotspinnerdot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dotspinnerdot:nth-child(7) {
    transform: rotate(270deg);
  }
  
  .dotspinnerdot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dotspinnerdot:nth-child(8) {
    transform: rotate(315deg);
  }
  
  .dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }